#heading1{
    background-color: rgb(219, 0, 0);
   
    text-align: center;
    padding: 50px;
    text-transform: capitalize;
    margin: 0px;
    color:  rgb(233, 233, 0);
    }
    .main{
   
        margin: 0px;
      padding: 10px ;
          text-transform: uppercase;
          color: red;
          background-color: rgba(247, 247, 6, 0.884);
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      }
      li{
        text-transform: capitalize;
        font-size: 26px;
    }
    
    a{
        color: red;
        text-decoration: none;
    }
    .heading2{
        text-align: center;
        background-color: rgb(219, 0, 0) ;
        color:rgb(233, 233, 0) ;
    }
    .image{
    position:absolute;
        padding-left: 60%; 
        width: 500px;
        height: 350px;
    }
          